# Ignore everything
/*

# Except these
!/.gitignore
!/ARCHITECTURE.md
!/__init__.py
!/engine.py
!/scripts
!/soma_compressor.py
!/LICENSE
!/README.md
!/bench/
!/docs/
!/plugin.yaml
!/skills/
!/tests/

/tests/__pycache__/
